@import url("https://fonts.googleapis.com/css2?family=Inter&family=Josefin+Sans:wght@400;500;600;700&family=Poppins:wght@500;600;700&display=swap");

:root {
  --dark-bg: #006D77;
  --light-bg: #83C5BE;
  --bg : #FFDDD2;
  --text: #EDF6F9;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--bg);
  font-size: 16px;
  scroll-behavior: smooth;
  font-weight: 500;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3fr);
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  height: 100%;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 85%;
  }
  .grid {
    grid-template-columns: 1fr;
  }
}
