.home-cnt {
    margin-top: 71px;
    padding-top: 1rem;
    display: flex;
}

.running-task-cnt {
    width: 800px;
    position: relative;
    padding: 2rem;
}

.running-task-cnt::before {
    content: '';
    background: var(--dark-bg);
    height: calc(100% - 8rem);
    position: absolute;
    right: 0;
    top: 3rem;
    width: 2px;
    border-radius: 5px;
}

.completed-task-cnt {
    width: 800px;
    padding: 2rem;
}

.main-title {
    width: 189px;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.main-title p{
    color: var(--dark-bg);
    width: 100%;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.datacard-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.btn-cnt{
    border-radius: 3px;
    border: 2px solid var(--dark-bg);
    background: rgba(0, 109, 119, 0.00);
    padding: 5px 7px;
    float: right;
    margin-right: 3rem;
    margin-top: 1rem;
}

.btn {
    color: var(--dark-bg);
    background: var(--bg);
    border: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn:hover {
    cursor: pointer;
}

.add-task-btn-cnt {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 2.5rem;
    right: 3.5rem;
    z-index: 2;
}

.add-task-btn {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    font-size: 2rem;
    border: none;
    background: var(--dark-bg);
    color: var(--text);
    position: relative;
}

.add-task-btn:hover {
    cursor: pointer;
}

.add-task-btn::after {
    content: "";
    width: 5rem;
    position: absolute;
    top: -30px;
    left: -20px;
    opacity: 0; 
    font-size: 0.8rem;
    color: var(--bg);
    background: var(--dark-bg);
    padding: 5px;
    z-index: 5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.add-task-btn:hover::after {
    content: "Add Task";
    opacity: 1; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


@media screen and (max-width:1235px){
    .running-task-cnt {
        width: 100%;
        padding: 1rem;
    }
    .completed-task-cnt {
        width: 100%;
        padding: 1rem;
    }
}

