.sidebar {
  background: var(--dark-bg);
  color: var(--text);
  display: flex;
  flex-direction: column;
  width: 195px;
  height: 100%;
  padding: 50px 0px 110px 20px;
  border-radius: 2px;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
  z-index: 1;
  position: fixed;
  top: 70px;
  left: 0;
}

.dashboard,
.all-task,
.cmplt-task,
.add-task {
  margin: 20px 0px 20px 0px;
  display: flex;
  align-items: center;
}

.sidebar img {
  padding-right: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #ffddd2;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sidebar-link {
  position: relative;
}

.sidebar-link::after {
  content: '';
  position: absolute;
  height: 2px;
  bottom: -5px;
  left: 0;
  width: 100%;
  background: var(--bg);
  transform: scaleX(0);
  transform-origin: right center;
  transition: transform .6s cubic-bezier(.19,1,.22,1),-webkit-transform .6s cubic-bezier(.19,1,.22,1);
}

.sidebar-link:hover.sidebar-link::after {
  transform: scaleX(1);
  transform-origin: left center;
  transition-duration: .6s;
}
