.nav {
    height: 71px;
    width: 100dvw;
    z-index: 1;
    position: fixed;
    top: 0;
}

.container {
    padding: 0 3rem 0 3rem;
    width: 100%;
    height: 100%;
    background: var(--light-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    width: 286px;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #000;
    background: var(--bg);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 5px;
    gap: 7px;
}

.search-bar input {
    background: var(--bg);
    border: none;
    width: 90%;
    font-weight: 520;
    padding: 1px 0 0 2px;
}

.search-bar input:focus {
    outline: none;
}

.links ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.ham-btn:hover {
    cursor: pointer;
}

.search-cnt {
    padding-top: 110px;
}

.profile-section {
    position: relative;
}

.profile-section:hover {
    cursor: pointer;
}

.profile-cnt {
    position: absolute;
    min-width: 1rem;
    top: 53px;
    right: -40px;
    background-color: var(--dark-bg);
    z-index: 2;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.profile-name {
    font-size: 1.5rem;
    color: var(--text);
}

.profile-email {
    font-size: 1rem;
    color: var(--bg);
}

.logout-btn {
    margin-top: 1rem;
    padding: 7px;
    width: 80px;
    border-radius: 5px;
    font-size: .8rem;
    color: var(--dark-bg);
    font-weight: 600;
    background-color: var(--bg);
}

.logout-btn:hover {
    cursor: pointer;
    letter-spacing: 1.2px;
}

ul li {
    height: 36px;
    width: 36px;
}

ul li img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width:665px){
    .links ul {
        gap: 15px;
    }
  .search-bar{
    gap:30px;
  }
    .container{
        padding: 0 2rem 0 2rem;
    }

   
}

@media screen and (max-width:511px){
    .ham-btn{
        margin-right: 20px;
    }

    .links{
        margin-left: 20px;
    }
    .links ul {
        gap: 10px;
    }
.search-img:hover {
    cursor: pointer;
}
}